/*Cabeçalho*/


/*Conteudo*/
.conteudo{
    position: relative;
}

.conteudo img{
    filter: grayscale(1);
}

.texto{
    position: absolute;
    top: 40vh;
}

.texto h2{
    margin-left: 40px;
    font-size: 4rem;
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
}

.texto p{
    margin-left: 40px;
    margin-right: 600px;
}

.btns button{
    margin-left: 40px;
}

.btns button a {
    text-decoration: none;
}

/* style da aba chill */

.contener_relax{
    background-color: #1D1C40;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    margin: 50px 200px;
    border: #0D0D0D solid 1px;
    border-style: none;
    padding: 20px;
    border-radius: 4px;
    
}

.controles{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.controles img {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {

    /*Cabeçalho*/
    .cabecalho h1{
        margin: 0;
    }
    .cabecalho button{
        margin: 0;
    }

    /*hommer*/
    .texto h2{
        font-size: 3rem;
    }

    .texto p{
        margin: 0 10px;
        text-align: center;
    }

    .btns{
        margin-top: 40px;
        margin-left: 40px;
    }

    /*tecnologia*/

    .cx_apresentaçao{
        margin: 0;
    }

    .contener_tec{
        margin: 0;
        flex-direction: column-reverse;
    }

    .img_tec{
        width: 300px;
        height: 300px;
    }

    /*chill*/

    .contener_relax{
        margin: 10px 0;
        flex-direction: column-reverse;
    }
}