/* Color Theme Swatches in Hex */
.Home-studio-podcast-interior.-Microphone,-laptop-and-on-air-lamp-on-the-table,-close-up-1-hex { color: #1A2624; }
.Home-studio-podcast-interior.-Microphone,-laptop-and-on-air-lamp-on-the-table,-close-up-2-hex { color: #D8D9D7; }
.Home-studio-podcast-interior.-Microphone,-laptop-and-on-air-lamp-on-the-table,-close-up-3-hex { color: #D97823; }
.Home-studio-podcast-interior.-Microphone,-laptop-and-on-air-lamp-on-the-table,-close-up-4-hex { color: #8C745E; }
.Home-studio-podcast-interior.-Microphone,-laptop-and-on-air-lamp-on-the-table,-close-up-5-hex { color: #BFAE9F; }


.cx_cabeçalho{
    background-color:#1A2624;
}

.titulo_cabeçalho{
    color: white;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 3.5rem;
}

.cx_principal{
    position: relative;
}

.conteudo_apresentaçao{
    position: absolute;
    top: 40vh;
}

.t_banner{
    margin-left: 40px;
    font-size: 4rem;
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
}

.p_banner{
    margin-left: 40px;
    margin-right: 600px;

}

.btn{
    margin-left: 20px;
}

.link{
    color: #BFAE9F;
    text-decoration: none;
}
.link:hover{
    color: #BFAE9F;
}


/* Style da aba Tecnologia */
.cx_apresentaçao{
    margin-top: 40px;
}

.contener_tec{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    border:#BFAE9F solid 1px;
    border-radius: 4px;
    margin: 50px 200px;
    padding: 20px;
}

.cx_conteudo{
    margin-right: 20px;
}

.paragrafo_t{
    margin-right: 50px;
}

.img_tec{
    width: 200px;
    height: 200px;
}

/* style da aba chill */

.cx_total{
    margin-top: 40px;
}

.contener_relax{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    margin: 50px 300px;
    border: #BFAE9F solid 1px;
    padding: 20px;
    border-radius: 4px;
    
}

.img_relax{
    width: 200px;
    height: 200px;
}

