/* Color Theme Swatches in Hex */
.Home-studio-podcast-interior.-Microphone,-laptop-and-on-air-lamp-on-the-table,-close-up-1-hex { color: #1A2624; }
.Home-studio-podcast-interior.-Microphone,-laptop-and-on-air-lamp-on-the-table,-close-up-2-hex { color: #D8D9D7; }
.Home-studio-podcast-interior.-Microphone,-laptop-and-on-air-lamp-on-the-table,-close-up-3-hex { color: #D97823; }
.Home-studio-podcast-interior.-Microphone,-laptop-and-on-air-lamp-on-the-table,-close-up-4-hex { color: #8C745E; }
.Home-studio-podcast-interior.-Microphone,-laptop-and-on-air-lamp-on-the-table,-close-up-5-hex { color: #BFAE9F; }


.cx_cabeçalho{
    background-color:#D97823;
}

.titulo_cabeçalho{
    color: #1A2624;
    padding-left: 50px;
    padding-top: 15px;
}